@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

[class*="col-"] {
  padding-left: 0;
  padding-right: 0;
  min-width: 80px;
}
@media (max-width: 1440px){
  .container{
    max-width: 1180px!important;
  }
}
@media (min-width: 1441px){
  .container{
    max-width: 1312px!important;
  }
}
@media (max-width: 768px){
  .container{
    max-width: 704px!important;
  }
}
@media (max-width: 360px){
  .container{
    max-width: 328px!important;
  }
}
a:hover{
  color: initial;
  text-decoration: none;
}
ul {
  list-style: none; /* Remove default bullets */
}

ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #009DE8; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em;
  font-size: 1.5em;
  margin-left: -1.4em;
}
header{
  display: flex;
  flex-direction: column;
  & .header-upper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  & .header-lower{
    display: flex;
    padding: 24px 0;
    top: 0;
    right: 0;
    left: 0;
    transition: 0,3s ease;
    z-index: 10;
    background-color: #ffffff;
    & .menu-items{
      display: flex;
      margin: 0 auto;
      & .menu-item{
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        color: #002B5B;
        mix-blend-mode: normal;
        margin-right: 24px;
        &:last-of-type{
          margin-right: 0;
        }
      }
    }
    &.sticky{
      position: fixed;
    }
  }
}
.hero{
  background-image: url('images/hero.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 840px;
  max-height: calc(100vh - 75px);
  margin-bottom: 128px;
  & .blue{
    padding: 0 128px;
    background-color: #002B5B;
    max-width: 672px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    & p.title{
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 48px;
      line-height: 48px;
      letter-spacing: 3px;
      color: #009DE8;
    }
    & h1{
      font-family: Montserrat, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 72px;
      line-height: 88px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #FFFFFF;
    }
  }
}
section{
  width: 100%;
  & .overlaps{
    display: flex;
    flex-direction: row;
    width: 100%;
  }
   .top{
    position: relative;
    padding: 72px 56px;
    max-width: 752px;
    background-color: #ffffff;
    box-shadow: 0px 32px 80px rgba(0, 0, 0, 0.04);
    z-index: 3;
    margin-left: -192px;
    margin-top: 128px;
    height: 100%;
    & .longtext{
      & .moretext{
        display: none;
        &.open{
          display: block;
        }
      }
    }
    & h2{
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 36px;
      line-height: 52px;
      color: #262930;
      margin-bottom: 32px;
    }
    & p{
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 34px;
      color: #4B4E57;
      margin-bottom: 32px;
      &.bold{
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 34px;
        color: #4B4E57;
      }
    }
    & li{
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 34px;
      color: #262930;
    }
    & a{
      flex-direction: row;
      align-items: center;
      & img{
        transform: rotate(0deg);
        &.rotate{
        transform: rotate(180deg);
        }
      }
      & p{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 34px;
        text-decoration-line: underline;
        color: #262930;
        margin-bottom: 0;
        margin-right: 16px;
        display: inline-flex;
        & span{
          font-family: Montserrat;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 34px;
          color: #262930;
          margin-bottom: 0;
          &.close-sec{
            display: none;
          }
        }
      }
      &#more{
        & p span.close-sec{
          display: none;
        }
        & img{
          transform: rotate(0deg);
          &.rotate{
          transform: rotate(180deg);
          }
        }
      }
    }
  }
  & .textarea{
    & .longtext{
      & .moretext{
        display: none;
        &.open{
          display: block;
        }
      }
    }
    & h2{
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 36px;
      line-height: 52px;
      color: #262930;
      margin-bottom: 32px;
    }
    & p{
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 34px;
      color: #4B4E57;
      margin-bottom: 32px;
      &.bold{
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 34px;
        color: #4B4E57;
      }
    }
    & li{
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 34px;
      color: #262930;
    }
    & a{
      flex-direction: row;
      align-items: center;
      & p{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 34px;
        text-decoration-line: underline;
        color: #262930;
        margin-bottom: 0;
        margin-right: 16px;
        display: inline-flex;
        & span{
          font-family: Montserrat;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 34px;
          color: #262930;
          margin-bottom: 0;
        }
      }
    }
  }
  span.close-sec{
    display: none;
  }
  & .center{
    max-width: 752px;
    width: 100%;
    height: 686px;
    position: relative;
    width: calc(100% - 128px);
    background-size: cover;
    background-image: url(images/Nordecon-yearbook-1.jpeg);
    background-position: center;
    & .bottom{
      position: absolute;
      right: -64px;
      bottom: -64px;
      z-index: -1;
    }
  }
  & h4{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 1px;
    color: #009DE8;
    margin-top: 192px;
    margin-bottom: 48px;
    text-align: center;
  }
  & .bigPic{
    margin: 0 auto;
    width: 100%;
  }
  &#section-1{
    margin-bottom: 112px;
  }
  &#section-3{
    margin-bottom: 182px;
    & .textarea{
      margin-right: 18px;
    }
    & .center{
      background-image: url(images/Nordecon-woods.jpeg);
      max-width: 640px;
      width: 100%;
      height: 640px;
      & .bottom{
        left: -64px;
        right: initial;
      }
    }
  }
  &#section-6{
    background-image: url(images/Nordecon-city.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 160px;
    padding-bottom: 160px;
    margin-bottom: 128px;
    background-position: center;
    & .top{
      margin-left: auto;
      margin-top: 0;
      margin-bottom: 0;
      padding: 128px 160px;
      width: 50%;
      max-width: unset;
    }
  }
  &#section-7{
    & .overlaps{
      margin-bottom: 320px;
    }
    & .textarea{
      margin-right: 18px;
    }
    & .center{
      background-image: url(images/Nordecon-building.jpeg);
      max-width: 752px;
      width: 100%;
      height: 686px;
      & .bottom{
        right: -64px;
        left: initial;
      }
    }
  }
  &#section-11{
    background-image: url(images/Nordecon-digi.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 160px;
    padding-bottom: 160px;
    margin-bottom: 128px;
    background-position: center;
    & .top{
      margin-left: auto;
      margin-top: 0;
      margin-bottom: 0;
      padding: 128px 160px;
      width: 50%;
      max-width: unset;
    }
  }
  &#section-12{
    & .overlaps{
      margin-bottom: 192px;
    }
    & .textarea{
      margin-right: 18px;
    }
    & .center{
      background-image: url(images/Nordecon-tootajad.jpeg);
      max-width: 752px;
      width: 100%;
      height: 686px;
      & .bottom{
        right: -64px;
        left: initial;
      }
    }
  }
  &#section-14{
    background-color: rgba(75, 78, 87, 0.05);
    margin-bottom: 182px;
    padding: 128px 0 144px 0;
    & .textarea{
      margin-right: 18px;
    }
    & .center{
      background-image: url(images/Nordecon-bw.jpeg);
      max-width: 640px;
      width: 100%;
      height: 640px;
      & .bottom{
        right: -64px;
        left: initial;
      }
    }
  }
  & .centeralign{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 112px;
    & p.bold{
      font-family: Montserrat;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 34px;
      text-align: center;
      color: #262930;
      margin-bottom: 56px;
    }
  }
}
