@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
$light-blue: #009DE8;
$dark-blue: #002B5B;
$text-darker: #262930;
$text-dark: #4B4E57;
$gray: rgba(75, 78, 87, 0.05);
[class*="col-"] {
  padding-left: 16px;
  padding-right: 16px;
  min-width: 80px;
}
@media (max-width: 1440px){
  .container{
    max-width: 1180px!important;
  }
}
@media (min-width: 1441px){
  .container{
    max-width: 1312px!important;
  }
}
@media (max-width: 768px){
  .container{
    max-width: 704px!important;
  }
}
@media (max-width: 360px){
  .container{
    max-width: 328px!important;
  }
}
header{
  display: flex;
  flex-direction: column;
  & .header-upper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  & .header-lower{
    display: flex;
    padding: 24px 0;
    & .menu-items{
      display: flex;
      margin: 0 auto;
      & .menu-item{
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        color: #002B5B;
        mix-blend-mode: normal;
        margin-right: 24px;
        &:last-of-type{
          margin-right: 0;
        }
      }
    }
  }
}
.hero{
  background-image: url('images/hero.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 840px;
  max-height: calc(100vh - 75px);
  margin-bottom: 128px;
  & .blue{
    padding: 0 128px;
    background-color: #002B5B;
    max-width: 672px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    & p.title{
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 48px;
      line-height: 48px;
      letter-spacing: 3px;
      color: #009DE8;
    }
    & h1{
      font-family: Montserrat, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 72px;
      line-height: 88px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #FFFFFF;
    }
  }
}
section{
  width: 100%;
  & .overlaps{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    & .top{
      position: relative;
      padding: 72px 56px;
      max-width: 752px;
      height: 430px;
      overflow: hidden;
      background-color: #ffffff;
      box-shadow: 0px 32px 80px rgba(0, 0, 0, 0.04);
      z-index: 2;
      margin-left: -128px;
      & h2{
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 52px;
        color: #262930;
        margin-bottom: 32px;
      }
      & p{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 34px;
        color: #4B4E57;
        margin-bottom: 32px;
        height: 136px;
        overflow: hidden;
      }
      & a{
        display: none;
        flex-direction: row;
        align-items: center;
        & p{
          font-family: Montserrat;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 34px;
          text-decoration-line: underline;
          color: #262930;
        }
        &#more{
          display: flex;
        }
      }
    }
    & .center{
      max-width: 752px;
      height: 686px;
      position: relative;
      z-index: 1;
      width: calc(100% - 128px);
      background-size: cover;
      background-image: url(images/Nordecon-yearbook-1.jpeg);
      background-position: center;
    }
  }
  & h4{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 1px;
    color: #009DE8;
    margin-top: 192px;
    margin-bottom: 48px;
    text-align: center;
  }
  & img{
    margin: 0 auto;
    //width: 100%;
  }
}


/******** TÕNU CSS ********/

ul {
  margin: 0;
  padding-left: 16px;
  list-style: none; /* Remove default bullets */
  li {
    font-family: Montserrat, sans-serif;
    margin-top: 16px;
    font-size: 16px;
    line-height: 34px;
    color: $text-darker;
  }
}
ul li::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: $light-blue; /* Change the color */
  display: inline-block; /* Needed to add space between the bullet and the text */
  margin-right: 8px;
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}
p {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 34px;
  color: $text-dark;
  overflow: hidden;
}
h2{
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 52px;
  color: $text-darker;
  margin-bottom: 32px;
}
h3 {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 34px;
  margin-bottom: 32px;
  color: $text-darker;
}
h4 {

}
body>section {
  padding-top: 128px;
  padding-bottom: 94px;
  .small {
    font-size: 14px;
    line-height: 24px;
  }
  &#key-figures {
    background:url(images/nordecon-pattern.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    .row * {
      margin: 0;
      color: white;
    }
    h4 {
      font-size: 28px;
      line-height: 36px;
      letter-spacing: 1px;
    }
    .figure-header {
      display: flex;
      align-items: center;
      margin-bottom: 8px;
      img {
        margin-right: 24px;
      }
    }
    h2 {
      color: white;
      text-align: center;
    }
  }
  .row {
    margin: 0 auto;
    width: 100%;
    max-width: 1312px;
    .image-wrap {
      margin-right: 144px;
      .image-inner {
        position: relative;
      }
      img:first-of-type {
        position: relative;
        width: 100%;
        max-width: 640px;
        height: 640px;
        object-fit: cover;
        z-index: 1;
      }
      .pattern {
        position: absolute;
        bottom: -64px;
        right: -64px;
        z-index: 0;
        max-height: 576px;
      }
    }
  }
}
.section-gray {
  background-color: $gray;
}
.section-white {
  background-color: white;
}
#accordion-2 {
  .image-wrap {
    margin-right: 0;
  }
  .accordion-wrap {
    order: -1;
    margin-right: 144px;
  }
  .pattern {
    right: unset;
    left: -64px;
  }
}
.accordion-wrap {
  width: 100%;
  max-width: 528px;
  .accordion {
    background-color: transparent;
    border: none;
    border-top: 1px solid rgba(75, 78, 87, 0.15);
    color: $light-blue;
    cursor: pointer;
    padding: 32px 0;
    width: 100%;
    text-align: left;
    outline: none;
    font-weight: 600;
    font-size: 21px;
    letter-spacing: 1px;
    line-height: 34px;
    transition: 0.25s linear;
    p {
      display: inline-flex;
      margin: 0;
      padding: 0;
    }
    &:last-of-type {
      border-bottom: 1px solid rgba(75, 78, 87, 0.15);
    }
    &.active {
      padding-bottom: 0;
      &:after {
        color: $light-blue;
        content: "\2212";
      }
    }
  }
  .active, .accordion:hover {
  }
  .active {

  }
  .accordion:after {
    content: '\002B';
    color: $light-blue;
    font-size: 35px;
    font-weight: 100;
    float: right;
    margin-left: 5px;
  }
  .faq-panel {
    width: 100%;
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s linear;
    &.active {
      padding: 0 0 48px 0;
    }
    p {
      margin: 10px 0;
    }
  }
}
/* END OF ACCORDION */
